/* Put your variable overrides here */
// Previous colors
//$primary: #3671B6;
//$lightAccent: #8E8BA3;
//$darkAccent: #44638A;
//$lightShade: #fafafa;
//$darkShade: #1B232F;
// Latest colors
$primary: #0C61E1;
$lightAccent: #D2D2D7;
$darkAccent: #0A3F8E;
$lightShade: #F4F4F4;
$darkShade: #1C222E;

// Misc
$pt-intent-primary: $primary;

// Menu
.pt-dark .pt-menu {
  background-color: $darkShade;
}
.pt-light .pt-menu {
  background-color: $lightShade;
}
.pt-menu {
  height: 100%;
}

// Card
.pt-light .pt-card {
  background-color: $lightShade;
}

// Typography
$pt-text-color: $darkShade;

// Navbar
$navbar-background-color: $primary;
$dark-navbar-background-color: $darkAccent;
.pt-navbar {
  color: $lightShade !important;

  .pt-button {
    color: $lightShade !important;
  }

  .pt-button[class*="pt-icon-"]::before {
    color: $lightShade !important;
  }
}

// Toaster
.my-toaster{
  margin-top: 35px;
}

$icon-font-path: "~@blueprintjs/core/resources/icons";
@import "../../../node_modules/@blueprintjs/core/src/blueprint";
@import "../../../node_modules/@blueprintjs/labs/src/blueprint-labs";

/*
export const darkTheme ITheme {
  background: #1B232F;
  text: #E6E7E2;
  primary: #44638A;
  secondary: #3671B6;
  secondaryInverse: #8E8BA3;
}

export const lightTheme ITheme {
  background: #E6E7E2;
  text: #1B232F;
  primary: #44638A;
  secondary: #8E8BA3;
  secondaryInverse: #3671B6;
}
*/
